.white-logo-background {
    width: var(--circle-size, 280px); 
    height: var(--circle-size, 280px);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    display: flex;
    transition: width 0.3s, height 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.white-logo-background.shrink {
    --circle-size: 200px; 

}

.white-logo-background.gone {
    opacity: 0;
    display: none;
}

.heart {
    width: calc(10px + 2vmin);
    height: calc(10px + 2vmin);
}

.footerContent {  
    position:absolute;
    bottom: 0;
    margin: 0%;
    padding: 0%; 
    right: 20px;
    left: auto;
}

.oceanPlayer {
    position:absolute;
    bottom: 0;
    margin: 0%;
    padding: 0%; 
    left: 20px;
    right: auto;
}

.play {
    transition: transform 0.3s ease-in; 
    width: 30px; 
    height: 30px;
  }
  
  .pause {
    opacity: 80%;
    width: 30px; 
    height: 30px;
    transition: transform 0.5s ease-out; 
    transform:scale(1.2);
  }

  .herb {
    max-width: 100%; 
    max-height: 100%;
    width: 57%; 
    height: 57%;
    object-fit: contain;
    user-select: none;
  }

@keyframes moveWaveX {
    0% {
      
        transform: translateX(30%);
    }
    100% {
   
        transform: translateX(-20%);
    }
}

@keyframes moveWaveY {
    0% {
        transform: translateY(-5%);
        transform: translateX(30%);
    }
    100% {
        transform: translateX(-20%);
        transform: translateY(-33%);
    }
}

.wave {
    max-width: 250%; 
    max-height: 300%;
    height: 300%;
    width: 250%;
    z-index: 2;
    position: absolute;
    opacity: 85%;
    transform: translateX(30%);
    user-select: none;
    
}

.wave:hover {
    animation: moveWaveX ease-in-out 2s infinite alternate;
}

.white-logo-background.shrink .wave {
    animation: moveWaveY ease-in-out 3s forwards;
}

.dataTracker {
    position: absolute;
    left: 20px;
    margin: 0%;
    padding: 0%; 
    z-index: 999;

}

